<form method='get' action='/quizes/<%= quiz.id %>/answer'>
  <p class='pregunta'>
    [<%= quiz.Subject.tema %>] Pregunta: <span class='pregunta'><%= quiz.pregunta %></span>
  </p>
  <p>
    <input type='text' name='respuesta' id='respuesta' value='Responda aquí' maxlength='255' />
    <input type='submit' value='Enviar' />
  </p>
  <p>
    <a href='/quizes<% if (search) { %>?search=<%= search %><% } %>'>
      <button type='button'>Volver a lista</button>
    </a>
  </p>
</form>
<script>
  window.onload = function() {
    document.getElementById('respuesta').select().focus();
  }
</script>

<p class='separador'></p>

<h3>Comentarios</h3>
<div class='tbody'>
  <% if (quiz.Comments.length) { %>
  <table>
    <tbody>
      <tr>
        <td class='col3'>
          <ul>
            <% for (var i in quiz.Comments) { %>
            <li><%= quiz.Comments[i].texto %></li>
            <% } %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <% } %>
  <p>
    <a href='/quizes/<%= quiz.id %>/comments/new'><button type='button'>Nuevo comentario</button></a>
  </p>
</div>