<h3>Estadísticas</h3>
<div class='tbody'>
  <table>
    <tbody>
      <tr>
        <td class='col6'><ul><li>Número Total de Preguntas</li></ul></td>
        <td class='col7'><%= stats.numTotQuizzes %></td>
      </tr>
      <tr>
        <td class='col6'><ul><li>Número Total de Comentarios</li></ul></td>
        <td class='col7'><%= stats.numTotComments %></td>
      </tr>
      <tr>
        <td class='col6'><ul><li>Número medio de Comentarios por Pregunta</li></ul></td>
        <td class='col7'><%= stats.numAvgCommPerQuiz %></td>
      </tr>
      <tr>
        <td class='col6'><ul><li>Número de Preguntas CON Comentarios</li></ul></td>
        <td class='col7'><%= stats.numQuizWithComm %></td>
      </tr>
      <tr>
        <td class='col6'><ul><li>Número de Preguntas SIN Comentarios</li></ul></td>
        <td class='col7'><%= stats.numQuizWithoutComm %></td>
      </tr>
    </tbody>
  </table>
</div>